{{!-- <!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>All About</title>
  </head>
  <body>
     {{>navbar data=details}} 
       <section id="gallery_section"class="gallery_section pt-5">
      <dic class="container">
        <div class="row">
          <div class="col md-6 text-center py-5 ">
            {{!-- left side --}}
            {{!-- <div class="d-flex flex-column h-100 justify-content-center align-items-center"> --}}
            <h2><b>Web Development</b></h2>
        <p>Web development involves the process of building, creating, and maintaining websites.</p>
        <p>It encompasses both front-end and back-end development components.</p>
        <p><b>Comparing Front-End Web Development vs. Back-End Web Development</b></p>
        <p><b>Front-end web development focuses on the user interface (UI) and the visual design of websites and applications.</p>
        <p><b>Back-end web development involves databases, logic, APIs, servers, and the underlying infrastructure that powers websites.</p>
        <p><b>Exploring Different Types of Web Development</b></p>
        <p>Web development can be categorized into three main types: front-end, back-end, and full-stack.</p>
           </div> 
          {{!-- </div> --}}
        <div class="col-md-6">
          {{!-- right side --}}
          <img src="/static/images/web1.jpg" style="max-width: 40%; height: auto; border-radius: 20%; position: absolute; top: 1; right: 2;" alt=""/>
        </div>
      </div>
    </div>
  </dic>
  </section>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
     
  </body>
</html> --}}